extends ../layout

block content
  .w3-container 
    .w3-card-4
      header.w3-container.w3-blue
        h3= title
      .w3-container
        p Chose a movie to give a recomendation below
        form.w3-container(action='/contentBased' method='POST')
          input.w3-input.w3-border.w3-dropdown(
            id='tags',
            type='text',
            name="selectedTitle" ,
            placeholder="add your movie title here"
          )
          .w3-container.w3-button(id='featuresToggle')
              p Advanced settings
          .w3-container(id='features')
            input.w3-check(type='checkbox', name ='title' checked)
            label Title
            input.w3-check(type='checkbox', name ='actors' checked)
            label Actors
            input.w3-check(type='checkbox', name ='country' checked)
            label Country
            input.w3-check(type='checkbox', name ='genre' checked)
            label Genre
            input.w3-check(type='checkbox', name ='language' checked)
            label Language
            input.w3-check(type='checkbox', name ='writer' checked)
            label Writer
            input.w3-check(type='checkbox', name ='plot' checked)
            label Plot
            input.w3-check(type='checkbox', name ='director' checked)
            label Director
            input.w3-check(type='checkbox', name ='production' checked)
            label Production
          p
          input.w3-btn.w3-green(type='submit', value='Enviar')   
      footer.w3-container.w3-blue
        p
          a(href='http://localhost:3000/contentBased')
            | Back
          a= ' '
          a(href='http://localhost:3000')
            | Main menu

