extends layout

block content
  .w3-container 
    .w3-card-4
      header.w3-container.w3-blue
        h3= title
      .w3-container
        table.w3-responsive.w3-table-all.w3-small
          tr
            th imdbId 
            th Titulo
            th Género
            th Resumo
          each film in films
            tr
              td
                a(href='http://localhost:3000/movies/' + film.imdb_id) 
                  p= film.imdb_id
              td= film.title
              td= film.genre
              td= film.plot
